.container {
    display: flex;
    align-items: center;
    color: #2b292b;
}

.icon {
    font-size: .85rem;
    cursor: pointer;
    flex: 13;
}

.title {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    flex: 87;
}